                        .lineal {
                            align-items: center;
                            margin: 0 20px 0 20px;
                            list-style-type: none;
                            text-align: center;
                            transition: all 0.45 linear;
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        header {
                            position: fixed;
                            left: 0;
                            top: 0;
                            right: 0;
                            padding: 2rem 0;
                            background-color: white;
                        }
                        
                        .navi ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                        }
                        
                        .navi ul li {
                            display: inline-block;
                        }
                        
                        h1 {
                            margin: 0px 15px 0px 5px;
                            font-size: 25px;
                        }
                        
                        .dropdown-button {
                            background-color: rgb(47, 92, 241);
                            border: 16px;
                            border-radius: 3px;
                            color: white;
                            height: 35px;
                            width: 90px;
                            font-size: medium;
                            margin: 0px 15px 0px 5px;
                        }
                        
                        .dropdown-box {
                            position: relative;
                            display: inline-block;
                        }
                        /*
                        
                        .dropdown-button1 {
                            background-color: white;
                            border: 0;
                            color: black;
                            height: 35px;
                            width: 90px;
                            font-size: medium;
                        }
                        
                        .dropdown-button1 :hover {
                            box-shadow: 0px 8px 16px 0px rgba(80, 80, 80, 0.2);
                        }
                        
                        */
                        
                        .dropdown-list {
                            display: none;
                            position: absolute;
                            background-color: rgb(228, 225, 225);
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            z-index: 1;
                        }
                        
                        .dropdown-list a {
                            color: black;
                            padding: 12px 1 6px;
                            text-decoration: none;
                            display: block;
                        }
                        
                        .dropdown-list a:hover {
                            background-color: rgb(168, 205, 248);
                        }
                        
                        .dropdown-box:hover .dropdown-list {
                            display: block;
                        }
                        
                        .dropdown-box:hover .dropdown-button {
                            background-color: rgb(137, 195, 241);
                        }
                        
                        .dropdown-button1 {
                            background-color: white;
                            border: 0;
                            color: rgb(17, 17, 17);
                            height: 0;
                            width: 90px;
                            font-size: medium;
                            margin: 0px 5px 0px 15px;
                        }
                        
                        .dropdown-box1 {
                            position: relative;
                            display: inline-block;
                        }
                        
                        .dropdown-list1 {
                            display: none;
                            position: absolute;
                            background-color: rgb(252, 252, 252);
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(56, 55, 55, 0.2);
                            z-index: 1;
                        }
                        
                        .dropdown-list1 a {
                            color: black;
                            padding: 12px 1 6px;
                            text-decoration: none;
                            display: block;
                        }
                        
                        .dropdown-list1 a:hover {
                            background-color: rgb(168, 205, 248);
                        }
                        
                        .dropdown-box1:hover .dropdown-list1 {
                            display: block;
                        }
                        
                        .dropdown-box1:hover .dropdown-button1 {
                            background-color: rgb(137, 195, 241);
                        }
                        
                        .log {
                            margin: 0px 5px 0px 15px;
                        }
                        
                        * {
                            box-sizing: border-box;
                        }
                        
                        form.search-button input[type=text] {
                            padding: 10px;
                            font-size: 17px;
                            border: 1px solid rgb(11, 3, 133);
                            float: left;
                            width: 80%;
                            background: #116af0;
                        }
                        
                        form.search-button button:hover {
                            background-color: #5db2f8;
                        }
                        
                        form.search-button::after {
                            content: "";
                            clear: both;
                            display: table;
                        }
                        
                        main {
                            padding-top: 12rem;
                        }
                        
                        .join {
                            background-color: rgb(47, 92, 241);
                            border: 16px;
                            color: white;
                            height: 35px;
                            width: 150px;
                            font-size: medium;
                            margin: 0px 5px 0px 15px;
                        }
                        
                        body {
                            border: 0;
                            margin: 0 0 0 0;
                        }